.action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--background-tertiary-color);
    box-shadow: 0px 4px 4px 4px var(--text-primary-color);
    z-index: 1;
}

.action-bar-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: var(--text-primary-color);
    text-decoration: none;
    width: 20vw;
    gap: 0.25rem;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 0.75rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.action-bar-button:active {
    filter: brightness(0.75);
    transform: scale(0.9);
    transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.action-bar-button .icon {
    font-size: 1.4rem;
}

.action-bar-main-button {
    color: var(--text-primary-color);
    background: var(--accent-gradient);
    height: 22vw;
    width: 22vw;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.5vh 0;
    gap: 0;
    position: absolute;
    bottom: 0;
}

.action-bar-main-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--accent-gradient);
    z-index: -1;
    filter: blur(0.2rem);
}

.action-bar-main-button .icon {
    font-size: 2rem;
}

.action-bar-spacer {
    width: 22vw;
    padding: 1vw;
}