<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: "Home", theme }) %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/pages/index.js" defer></script>
</head>
<body>
    <%- include('../partials/nav', { appVersion }) %>
    <div class="main-container">
        <div class="workflow-grid">
            <a href="/import" class="workflow-grid-link">
                <div class="workflow-grid-item import-workflow-item">
                    <span class="workflow-import-text">Import workflow from JSON</span>
                </div>
            </a>
            <% serverWorkflows.forEach(function(item) { %>
                <%- include('../partials/workflow-grid-item', { title: item }) %>
            <% }); %>
        </div>
    </div>
    <a href="https://www.buymeacoffee.com/ImDarkTom" target="_blank" class="bmac-link"><img class="bmac-link-img" src="/img/bmac-yellow-button.png" alt="Buy Me A Coffee"></a>
    <%- include('../partials/actionSheet') %>
</body>
</html>