<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: workflowTitle }) %>
    <link rel="stylesheet" href="/css/workflow.css">
    <script src="/js/localworkflow.js" defer></script>
</head>
<body data-workflow-title="<%= workflowTitle %>">
    <%- include('../partials/nav', { title: workflowTitle }) %>
    <div class="main-container">
        <h2 class="category-title">Inputs</h2>
        <div class="inputs-container"></div>
        <button class="run-workflow" onclick="runWorkflow()">Run workflow</button>
        <h2 class="category-title">Output</h2>
        <div class="output-images-container"></div>
    </div>
</body>
</html>