<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: workflowTitle, theme }) %>
    <link rel="stylesheet" href="/css/workflow.css">
    <script src="/js/workflow.js" defer></script>
</head>
<body data-workflow-title="<%= workflowTitle %>" data-workflowtext="<%= workflowText || '' %>">
    <%- include('../partials/page-title', { title: workflowTitle }) %>
    <div class="main-container">
        <h2 class="category-title">Inputs</h2>
        <div class="inputs-container"></div>
        <div class="run-button-wrapper">
            <button class="run-workflow" onclick="runWorkflow()">Run workflow</button>
        </div>
        <h2 class="category-title">Output</h2>
        <div class="output-images-container"></div>
    </div>
</body>
</html>