<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: workflowTitle, theme }) %>
    <link rel="stylesheet" href="/css/workflow.css">
    <script src="/js/pages/workflow.js" defer type="module"></script>
    <script src="/js/common/popupWindow.js" defer></script>
</head>
<body>
    <%- include('../partials/page-title', { title: workflowTitle }) %>
    <div class="main-container">
        <h2 class="category-title">Inputs</h2>
        <div class="inputs-container"></div>
        <div class="run-button-wrapper">
            <button class="run-workflow">Run workflow</button>
        </div>
        <button class="cancel-run-button disabled">Cancel</button>
        <div class="progress-bars">
            <span class="progress-bar-label">Total progress</span>
            <div class="total-images-progress progress-bar"><span class="progress-bar-text">0%</span><div class="progress-bar-inner"></div></div>
            <span class="progress-bar-label">Current image progress</span>
            <div class="current-image-progress progress-bar"><span class="progress-bar-text">0%</span><div class="progress-bar-inner"></div></div>
        </div>
        <h2 class="category-title">Output</h2>
        <div class="output-images-container"></div>
    </div>
    <script>
            const workflowFromEjs = <%- JSON.stringify(workflowJson) || "null" %>;
            const workflowTitleFromEjs = '<%= workflowTitle %>';
    </script>
</body>
</html>