:root {
    --text-primary-color: #eeeeee;
    --text-secondary-color: #dddddd;
    --background-primary-color: #111111;
    --background-secondary-color: #222222;
    --background-tertiary-color: #333333;
    --accent-gradient: linear-gradient(135deg, #910e92, #6962c3);
}
