:root {
    --text-primary-color: #2c3e50;
    --text-secondary-color: #34495e;
    --background-primary-color: #bdc3c7;
    --background-secondary-color: #ecf0f1;
    --background-tertiary-color: #ffffff;
    --accent-gradient: linear-gradient(135deg, #910e92, #6962c3);
}
