<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: "Import a workflow", theme }) %>
    <link rel="stylesheet" href="/css/import.css">
    <script src="/js/pages/import.js" type="module" defer></script>
    <script src="/js/common/popupWindow.js" defer></script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="main-container">
        <div class="file-select-container">
            <label for="file-input" class="file-input-label">Select a workflow file</label>
            <input type="file" id="file-input" class="file-input" accept=".json">
        </div>
        <div class="edit-container">
            <div class="properties-container">
                <h2 class="category-title">Properties</h2>
                <label for="title-input">Title</label>
                <input type="text" id="title-input" class="properties-input" placeholder="My Workflow" disabled>
                <label for="description-input">Description</label>
                <textarea id="description-input" class="properties-input" placeholder="This is a workflow to..." disabled></textarea>
            </div>
            <h2 class="category-title">Inputs</h2>
            <div class="inputs-container"></div>
            <div class="export-buttons">
                <input type="button" value="Save to browser" id="save-to-browser">
                <div class="buttons-divider"></div>
                <input type="button" value="Download" id="download-workflow">
            </div>
        </div>
    </div>
    <%- include('../partials/sidebar', { activePage: 'import' }) %>
    <%- include('../partials/actionBar', {
        buttons: [
            { action: "/", icon: "home", text: "Home", type: "link" },
            { action: ["/js/common/scroll.js", "scrollToBottom"], icon: "arrow-down", text: "Bottom", type: "function" },
            { action: ["/js/pages/import.js", "scrollToSaveButtons"], icon: "save", text: "Save", type: "function" },
            { action: ["/js/common/scroll.js", "scrollToTop"], icon: "arrow-up", text: "Top", type: "function" },
            { action: "/settings", icon: "settings", text: "Settings", type: "link" },
        ] 
    }) %>
</body>
</html>