.file-select-container {
    width: calc(100vw - 1rem);
    margin: 1ch 0;
    background-color: var(--background-secondary-color);
    border-radius: 0.5rem;
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.file-input-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.file-input {
    display: none;
}

.edit-container {
    width: calc(100vw - 1rem);
    margin: 0.5rem 0;
}

.properties-container {
    padding-bottom: 1rem;
}

.properties-input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
}

#description-input {
    resize: vertical;
    height: 6em;
    min-height: 2em;
}

.inputs-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1ch;
    row-gap: 1ch;
    box-sizing: border-box;
}

.options-container {
    width: 100%;
}

.input-item {
    padding: 1ch 1ch 1rem 1ch;
    display: flex;
    flex-direction: row;
    background-color: var(--background-secondary-color);
    border-radius: 0.5rem;
}

.inputs-container input,
.additional-input-options select {
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
    width: 100%;
}

.input-type-select {
    flex: 1;
    background: var(--background-secondary-color);
    color: var(--text-primary-color);
    border: none;
    box-shadow: 0px -1px 0px 0px var(--text-primary-color) inset;
    font-weight: bold;
}

.move-arrows-container {
    width: 2rem;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.move-arrows-container span {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.move-arrow-down {
    box-shadow: 0px 1px 0px 0px var(--text-primary-color) inset;
}

.move-arrow-up {
    box-shadow: 0px -1px 0px 0px var(--text-primary-color) inset;
}

.input-top-container {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.input-counter {
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
}

.hide-input-button {
    width: 2rem;
    height: 2rem;
    margin-right: 1ch;
}

.input-item.disabled {
    filter: brightness(0.8);
}

.workflow-input-title {
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    flex: 1;
}

.inputs-container label {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.1rem 0;
}

.inputs-container input {
    width: 100%;
    box-sizing: border-box;
}

.export-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.export-buttons input {
    flex: 1;
    border: none;
    background-color: var(--background-tertiary-color);
    color: var(--text-primary-color);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.export-buttons .buttons-divider {
    width: 0.5rem;
}