.file-select-container {
    width: calc(100vw - 1rem);
    margin: 1ch 0;
    background-color: var(--background-secondary-color);
    border-radius: 0.5rem;
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.edit-container {
    width: calc(100vw - 1rem);
    margin: 0.5rem 0;
}

.properties-container {
    padding-bottom: 1rem;
}

.properties-input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
}

#description-input {
    resize: vertical;
    height: 6em;
    min-height: 2em;
}

.inputs-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1ch;
    row-gap: 1ch;
    box-sizing: border-box;
}

.options-container {
    width: 100%;
}

.input-item {
    padding: 1ch 1ch 1rem 1ch;
    display: flex;
    flex-direction: row;
    background-color: var(--background-secondary-color);
    border-radius: 0.5rem;
}

.inputs-container input {
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
}

.input-type-select {
    width: 100%;
    margin-bottom: 1ch;
}

.move-arrows-container {
    width: 2rem;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.move-arrows-container span {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.input-title-container {
    width: 100%;
    display: flex;
}

.hide-input-button {
    width: 2rem;
    height: 2rem;
    margin-right: 1ch;
}

.input-item.disabled {
    filter: brightness(0.8);
}

.hide-input-button.disabled {
    filter: brightness(0.5);
}

.workflow-input-title {
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    flex: 1;
}

.inputs-container label {
    display: block;
    width: 100%;
}

.inputs-container input {
    width: 100%;
    box-sizing: border-box;
}