.main-container {
    overflow-y: auto;
    height: auto;
}

.workflow-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.workflow-grid-link {
    color: var(--text-primary-color);
    text-decoration: none;
}

.workflow-grid-item {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 16vh;
    box-sizing: border-box;
    background-color: var(--background-secondary-color);
    user-select: none;
    display: flex;
    flex-direction: row;
    position: relative;
}

.workflow-icon-container {
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 25%;
}

.workflow-icon {
    width: 100%;
    height: 100%;
}

.workflow-settings-icon {
    margin: 1rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.workflow-text-info {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-sizing: border-box;
}

.workflow-title {
    display: block;
    font-size: 1.25rem;
    word-wrap: normal;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-primary-color);
    padding: 0.5ch 0;
    overflow-x: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
}

.workflow-description {
    color: var(--text-secondary-color);
    padding: 0.5ch 0;
    width: 85%;
    overflow-y: auto;
}

.header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
    margin: 0.5rem 0.5rem 0 0.5rem;
    box-sizing: border-box;
}

.header-icon {
    height: 3rem;
    width: 3rem;
}

.version-text {
    color: var(--text-secondary-color);
    font-size: 1rem;
    display: flex;
    align-items: start;
}
