.main-container {
    overflow-y: auto;
    height: auto;
}

.workflow-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.workflow-grid-link {
    color: var(--text-primary-color);
    text-decoration: none;
}

.workflow-grid-item {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 16vh;
    box-sizing: border-box;
    background-color: var(--background-secondary-color);
    user-select: none;
    display: flex;
    flex-direction: row;
    position: relative;
}

.workflow-item-icons {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.workflow-icon-container {
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    aspect-ratio: 1/1;
}

.workflow-icon {
    width: 100%;
    height: 100%;
}

.workflow-menu-icon {
    padding: 1rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.workflow-text-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0.5rem;
}

.workflow-title {
    display: block;
    font-size: 1.5rem;
    word-wrap: normal;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-primary-color);
    padding: 0.5ch 0;
}

.workflow-description {
    color: var(--text-secondary-color);
    padding: 0.5ch 0;
    font-style: italic;
    width: 80%;
    overflow-y: auto;
}

.workflow-import-text {
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: var(--text-primary-color);
}

.bmac-link {
    height: 6vh;
    display: block;
    padding-left: 0.5rem;
    box-sizing: border-box;
    width: 50%;
}

.bmac-link-img {
    height: 100%;
    width: auto;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.5rem 0.5rem 0 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
	background-color: var(--background-secondary-color);
	border-radius: 0.5rem;
}

.nav-buttons {
	display: flex;
	flex-direction: row;
}

.icon-container {
	display: flex;
	flex-direction: row;
}

.nav-icon {
    height: 5rem;
	width: 5rem;
}

.version-text {
	display: flex;
	align-items: end;
	padding: 0;
	box-sizing: border-box;
}