.workflow-input-container {
    padding-bottom: 1ch;
}

:root {
    --input-height: 3rem;
    --input-font-size: 1.2rem;
}

.workflow-input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
    height: var(--input-height);
    font-size: var(--input-font-size);
}

.workflow-input:focus {
    outline-width: 0;
    background-color: var(--background-secondary-color);
}

textarea.workflow-input {
    height: 5rem;
    resize: vertical;
    font-size: 1rem;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    min-height: 2.2rem;
}

.inner-input-wrapper {
    display: flex;
    flex-direction: row;
}

.workflow-input.has-random-toggle{
    /* styles for workflow-input if there is a randomise button */
    width: calc(100% - var(--input-height));
    border-radius: 0.5rem 0 0 0.5rem;
}

.randomise-input {
    box-sizing: border-box;
    width: var(--input-height);
    height: var(--input-height);
    border: 0;
    padding: 0;
    margin: 0.1rem 0 0 0;
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: var(--input-font-size);
}

.randomise-input:active {
    filter: brightness(0.75);
}

.run-button-wrapper {
    margin: 1rem 0;
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    padding: 1px;
    background: var(--accent-gradient);
    border-radius: 0.5rem;
}

.run-button-wrapper:active {
    filter: brightness(0.75);
}

.run-workflow {
    width: 100%;
    height: 100%;
    margin: 1;
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    user-select: none;
}

.cancel-run-button {
    width: 100%;
    height: 3rem;
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border: 0;
    color: var(--text-primary-color);
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.cancel-run-button.disabled {
    filter: brightness(0.75);
}

.output-images-container {
    width: 100%;
}

.output-images-container a {
    text-decoration: none;
}

.output-image {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.progress-bar-label {
    margin: 0.5rem 0;
    user-select: none;
}

.total-images-progress,
.current-image-progress {
    width: 100%;
    height: 2.5rem;
    background-color: var(--background-secondary-color);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.progress-bar .progress-bar-inner {
    border-radius: 0.5rem;
    width: 0%;
    height: 100%;
    background: var(--accent-gradient);
    transition: width 0.5s ease;
}

.progress-bar .progress-bar-text {
    position: absolute;
    height: 2.5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    user-select: none;
}

.image-placeholder-skeleton {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background: linear-gradient(-45deg, #222222 0%, #222222 40%, #333333 50%, #222222 60%, #222222 100%);
    animation: wave 1s linear infinite reverse;
    background-size: 600% 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

@keyframes wave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}