<script src="/js/common/actionSheet.js" defer type="module"></script>
<link rel="stylesheet" href="/css/partial/actionSheet.css" />
<div class="bottom-sheet-bg-overlay disabled"></div>
<div class="bottom-sheet-container disabled">
    <span class="close-button">&times;</span>
    <div class="bottom-sheet-entries-list"></div>
</div>
