<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %> | ComfyUI Mini</title>
<link rel="stylesheet" href="/css/theme/<%= theme %>.css" />
<link rel="stylesheet" href="/css/partial/base.css" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_32.png" />
<link rel="icon" type="image/png" sizes="48x48" href="/img/favicon_48.png" />
<link rel="icon" type="image/png" sizes="64x64" href="/img/favicon_64.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/img/android-chrome-icon.png" />
<link rel="icon" href="/favicon.ico" sizes="any" />
<script type="importmap">
    {
        "imports": {
            "@shared/": "/shared/"
        }
    }
</script>
