<div class="navbar">
    <a class="navbar-icon" href="/">
        <img src="/img/android-chrome-icon.png" alt="ComfyUI Mini Icon" />
    </a>
    <div id="sidebar-toggle">
        <span class="icon sidebar"></span>
    </div>
</div>
