<div id="scroll-buttons">
    <div id="scroll-top" class="scroll-button">
        <span class="icon arrow-up"></span>
    </div>
    <div id="scroll-bottom" class="scroll-button">
        <span class="icon arrow-down"></span>
    </div>
</div>
<script src="/js/scrollbuttons.js" defer type="module"></script>
