<a href="/workflow/server/<%= workflowMetadata.filename %>" class="workflow-grid-link">
    <div class="workflow-grid-item">
        <div class="workflow-icon-container">
            <div class="icon server workflow-icon"></div>
        </div>
        <div class="workflow-text-info">
            <span class="workflow-title"><%= workflowMetadata.title %></span>
            <span class="workflow-description"><%= workflowMetadata.description %></span>
        </div>
        <span class="workflow-settings-icon icon settings" onclick='loadBottomSheet([{icon: "âœ", text: "Edit", function: "editWorkflow", functionParams: ["server", "<%= workflowMetadata.filename %>"]}], event)'></span>
    </div>
</a>