:root {
    --input-height: 3rem;
    --input-font-size: 1.2rem;
}

.inputs-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 0.5rem;
}

@media screen and (min-width: 420px) {
    .inputs-container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

.workflow-input-container label {
    display: block;
    padding-bottom: 0.3ch;
    font-size: 1.2rem;
    font-weight: bold;
}

.workflow-input {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: var(--input-height);
    font-size: var(--input-font-size);
    transition: background-color 0.25s ease;
}

.workflow-input:focus {
    outline: none;
    background-color: var(--background-secondary-color);
}

textarea.workflow-input {
    height: 5rem;
    resize: vertical;
    font-size: 1rem;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    min-height: 2.2rem;
}

.inner-input-wrapper {
    display: flex;
    flex-direction: row;
}

.workflow-input.has-random-toggle {
    /* styles for workflow-input if there is a randomise button */
    border-radius: 0.5rem 0 0 0.5rem;
}

.randomise-buttons-container {
    display: flex;
    flex-direction: row;
}

.randomise-buttons-container span {
    justify-content: center;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
    width: var(--input-height);
    height: var(--input-height);
    border: 0;
    padding: 0;
    background-color: var(--background-tertiary-color);
    color: var(--text-secondary-color);
    font-size: var(--input-font-size);
}

.randomise-now-button {
    display: none;
    font-size: 1.5rem !important;
}

.randomise-input-toggle {
    display: flex;
    border-radius: 0 0.5rem 0.5rem 0;
}

.randomise-input-toggle::before {
    content: '🎲';
}

.randomise-buttons-container.randomise-off > .randomise-now-button {
    display: flex;
}

.randomise-buttons-container.randomise-off > .randomise-input-toggle::before {
    content: '🔒';
}

.randomise-buttons-container.randomise-off > .randomise-input-toggle {
    background-color: var(--background-secondary-color);
}

.workflow-input-container .file-input {
    display: none;
}

.workflow-input-container .file-input-label {
    height: var(--input-height);
    width: var(--input-height);
    background-color: var(--background-tertiary-color);
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin: 0 0 0 0.5rem;
    padding: 0.5rem;
}

.workflow-input-container .file-input-label:active {
    transform: scale(0.95);
}

.workflow-input-container .file-input-label > span {
    height: 100%;
    width: 100%;
}

.run-button-wrapper {
    margin: 1rem 0;
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    padding: 1px;
    background: var(--accent-gradient);
    border-radius: 0.5rem;
}

.run-button-wrapper:active {
    filter: brightness(0.75);
}

.run-workflow {
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    user-select: none;
}

.cancel-run-button {
    width: 100%;
    height: 3rem;
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border: 0;
    color: var(--text-primary-color);
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.cancel-run-button.disabled {
    filter: brightness(0.75);
}

.output-images-container {
    width: 100%;
}

.output-images-container a {
    text-decoration: none;
}

.output-image {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.progress-bar-label {
    margin: 0.5rem 0;
    user-select: none;
}

.total-images-progress,
.current-image-progress {
    width: 100%;
    height: 2.5rem;
    background-color: var(--background-secondary-color);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.progress-bar .progress-bar-inner {
    border-radius: 0.5rem;
    width: 0%;
    height: 100%;
    background: var(--accent-gradient);
    transition: width 0.5s ease;
}

.progress-bar .progress-bar-text {
    position: absolute;
    height: 2.5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    user-select: none;
}

.image-placeholder-skeleton {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background: linear-gradient(-45deg, #222222 0%, #222222 40%, #333333 50%, #222222 60%, #222222 100%);
    animation: wave 1s linear infinite reverse;
    background-size: 600% 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

@keyframes wave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.image-placeholder-skeleton img.preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 1rem; /* 0.5 default plus padding */
    opacity: 0.5;
}
