<script src="/js/bottomsheet.js" defer></script>
<link rel="stylesheet" href="/css/partial/bottomsheet.css">
<div class="bottom-sheet-bg-overlay disabled" onclick="closeBottomSheet()"></div>
<div class="bottom-sheet-container disabled">
    <span class="close-button" onclick="closeBottomSheet()">&times;</span>
    <div class="bottom-sheet-entries-list"></div>
</div>