<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> | ComfyUI Mini</title>
<link rel="stylesheet" href="/css/colors.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/icons.css">