<div class="nav-container">
    <div class="icon-container">
        <img src="/img/android-chrome-icon.png" alt="ComfyUI Mini Icon" class="nav-icon">
        <span class="version-text">v1.1.0</span>
    </div>
    <div class="nav-buttons">
        <a href="/gallery" class="gallery-nav-link icon gallery"></a>
        <a href="/settings" class="settings-icon-wrapper">
            <div class="icon settings nav-settings"></div>
        </a>
    </div>
</div>