<div class="title-container">
    <h1 class="title-text">ComfyUI Mini</h1>
    <span class="version-text">v1.0.0</span>
</div>
<div class="page-title-container">
    <a href="/" class="icon home home-link"></a>
    <h2 class="page-title"><%= title %></h2>
</div>