<a href="/workflow/server/<%= title %>" class="workflow-grid-link">
    <div class="workflow-grid-item">
        <div class="workflow-item-icons">
            <div class="workflow-icon-container">
                <div class="icon server workflow-icon"></div>
            </div>
            <span class="workflow-menu-icon" onclick='loadBottomSheet([{icon: "✏", text: "Edit workflow (Not implemented)", function: "editWorkflow", functionParams: ""}], event)'>☰</span>
        </div>
        <span class="workflow-title"><%= title %></span>
    </div>
</a>