<a href="/workflow/server/<%= title %>" class="workflow-grid-link">
    <div class="workflow-grid-item">
        <div class="workflow-icon-container">
            <div class="icon server workflow-icon"></div>
        </div>
        <span class="workflow-title"><%= title %></span>
    </div>
</a>