<div class="workflow-grid-item">
    <div class="workflow-icon-container">
        <div class="icon workflow"></div>
    </div>
    <a class="workflow-title" href="/workflow/server/<%= title %>"><%= title %></a>
</div>