@media (prefers-color-scheme: dark) {
    body {
        background-color: #181E1A;
    }

    input.workflow-input {
        background-color: #3C594F;
        color: white;
    }

    div#workflow-container>label {
        color: white;
    }
  }

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

button#gen {
    margin-top: 1vh;
    width: 90vw;
}

#img-container {
    width: 90vw;
}

img.result {
    padding-top: 5vw;
    width: 90vw;
    height: auto;
}

select#workflow {
    width: 90vw;
    margin-top: 5vw;
}

div#workflow-container {
    width: 90vw;
}

input.workflow-input {
    width: 90vw;
    box-sizing: border-box;
    margin-top: 1vh;
    padding: 0.5rem;
}

input.workflow-input:focus {
    outline: none;
}

div#workflow-container>label {
    text-transform: capitalize;
    font-weight: 550;
}