:root {
    --text-primary-color: #eeeeee;
    --text-secondary-color: #dddddd;
    --background-primary-color: #0c0f1f;
    --background-secondary-color: #1e2742;
    --background-tertiary-color: #353e5f;
    --accent-gradient: linear-gradient(135deg, #00ffbb, #007a7f);
}
