:root {
    --text-primary-color: #ffffff;
    --text-secondary-color: #eeeeee;
    --background-primary-color: #0c0f1f;
    --background-secondary-color: #1e2742;
    --background-tertiary-color: #353e5f;
}
