:root {
    --text-primary-color: #0d0e0c;
    --text-secondary-color: #21221f;
    --background-primary-color: #e6ff77;
    --background-secondary-color: #dfffa1;
    --background-tertiary-color: #d7ffcb;
}
