:root {
    --text-primary-color: #dddddd;
    --text-secondary-color: #cccccc;
    --background-primary-color: #000000;
    --background-secondary-color: #0c0c0c;
    --background-tertiary-color: #111111;
    --accent-gradient: linear-gradient(135deg, #620962, #4942ae);
}