@import url('reset.css');
@import url('icons.css');
@import url('popup.css');

@font-face {
    font-family: 'Futura';
    src:
        url('/fonts/Futura.woff') format('woff2'),
        url('/fonts/Futura.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Futura', sans-serif;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
}

button {
    font-family: 'Futura', sans-serif;
}

/* Commonly used across pages */
.category-title {
    font-size: 1.5rem;
    padding: 0 0 0.5rem 0;
    padding: 1rem 0;
}

.main-container {
    box-sizing: border-box;
    padding: 0.5rem;
    padding-bottom: 10vh; /* adjust for action bar height */
}
